# Virtual Environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Sensitive Data
weak_passwords.txt

# Pytest caches
.pytest_cache/
